include ../-tours-item/-tours-item

mixin -tours-list()
	+b.-tours-list
		.container
		
			-
				var toursList = [
					{
						title: 'Каппадокия', subtitle: '', img: 'assets/images/-tour-1.png',
						dates: ['26-27 сентября', '1-4 октября', '8-11 октября'],
						price: 850, avia: true, discountPrice: 825, discountLimit: '15 июля',
						description: 'Полёт на воздушном шаре над марсианскими пейзажами, долины и каньоны, фотосессии в разлетающихся платьях на террасе бутик-отеля, прогулка на квадроциклах и лошадях.',
						weather: 'лёгкая, передвижение на микроавтобусе + недолгие пешеходные маршруты, подъемов/спусков не будет. Температура - 28-30 градусов днём и 15 градусов на рассвете и вечером.',
						places: '12 + 2 организатора (Дима и Маша)',
						visa: 'в Турцию:',
						visaSubtitle: 'не требуется.',
					},
					{
						title: 'Бали', subtitle: '', img: 'assets/images/-tour-2.png',
						dates: ['26 октября - 6 ноября'],
						price: 1290, avia: true, discountPrice: 1240, discountLimit: '30 июня',
						description: '9 дней в раю и месте силы. Океан, райские пляжи, мощные водопады, восхождение на вулкан, спа, рестораны в джунглях и джакузи выше облаков.',
						weather: 'средняя, нас ждут спуски и подъемы к пляжам и водопадам, мы стараемся максимально чередовать активности и релакс ',
						places: '12 + 2 организатора (Дима и Маша)',
						visa: 'гражданам Украины, России, Казахстана,',
						visaSubtitle: 'Беларуси, стран ЕС виза не требуется',
					},
					{
						title: 'Япония:', subtitle: 'Карсные клёны', img: 'assets/images/-tour-3.png',
						dates: ['12-20 ноября', '19-27 ноября'],
						price: 2100, avia: true, discountPrice: 2020, discountLimit: '30 июня',
						description: 'Неизведанная и таинственная, абсолютно другая и уникальная. Ночной Токио, ручные олени в Наре, древний Киото со знакомством с гейшей, гора Фудзи в закури... загадки, лучший шоппинг и косметика - все это в одном туре!',
						weather: 'средняя, много пеших прогулок, передвижения между городами на скоростных поездах',
						places: '12 + 2 организатора (Дима и Маша)',
						visa: 'выдается на',
						visaSubtitle: '4-5 дней',
					},
					{
						title: 'Бали', subtitle: '', img: 'assets/images/-tour-4.png',
						dates: ['17-27 февраля', '27 февраля - 10 марта'],
						price: 1390, avia: true, discountPrice: 1290, discountLimit: '1 сентября',
						description: '11 дней в раю и месте силы. Океан, райские пляжи, мощные водопады, восхождение на вулкан, спа, рестораны в джунглях и джакузи выше облаков.',
						weather: 'средняя, нас ждут спуски и подъемы к пляжам и водопадам, мы стараемся максимально чередовать активности и релакс ',
						places: '12 + 2 организатора (Дима и Маша)',
						visa: 'гражданам Украины, России, Казахстана,',
						visaSubtitle: 'Беларуси, стран ЕС виза не требуется',
					},
					{
						title: 'Япония', subtitle: 'Цветные сакуры', img: 'assets/images/-tour-5.png',
						dates: ['25 марта - 2 апреля', '1-9 апреля'],
						price: 2200, avia: true, discountPrice: 2080, discountLimit: '1 сентября',
						description: 'Неизведанная и таинственная, абсолютно другая и уникальная. Ночной Токио, ручные олени в Наре, древний Киото со знакомством с гейшей, гора Фудзи в закури... загадки, лучший шоппинг и косметика - все это в одном туре!',
						weather: 'Сложность поездки и погода: средняя, много пеших прогулок, передвижения между городами на скоростных поездах',
						places: '12 + 2 организатора (Дима и Маша)',
						visa: 'выдается на',
						visaSubtitle: '4-5 дней',
					},
					{
						title: 'Каппадокия', subtitle: '', img: 'assets/images/-tour-1.png',
						dates: ['27-30 мая', '3-6 июня'],
						price: 850, avia: true, discountPrice: 825, discountLimit: '1 сентября',
						description: 'Полёт на воздушном шаре над марсианскими пейзажами, долины и каньоны, фотосессии в разлетающихся платьях на террасе бутик-отеля, прогулка на квадроциклах и лошадях.',
						weather: 'лёгкая, передвижение на микроавтобусе + недолгие пешеходные маршруты, подъемов/спусков не будет. Температура - 28-30 градусов днём и 15 градусов на рассвете и вечером.',
						places: '12 + 2 организатора (Дима и Маша)',
						visa: 'в Турцию:',
						visaSubtitle: 'не требуется.',
					},
				]

			each tour in toursList
				+-tours-item(tour)