mixin menu()
	+b.menu#menu

		.menu__icon#menuIcon
			- var squares = [1,2,3,4,5,6,7,8,9]

			.squares
				each square in squares
					.square

		-
			var links = {
				'О нас': '#travels',
				'Расписание': '#schedule',
				'Отзывы': '#comments',
				'Фотоотчёты': '/',
				'Для бизнеса': '/',
				'Контакты': '/',
			}

		.menu__list#menuList
			each value, index in links
				.menu__item
					a(href=value) #{index}
					
			