.-single-tour-includes
	display: block
	margin-top: 5rem

	&__title
		font-size: 36px
		color: #4f4f4f
		text-align: center

	&__details
		display: flex
		margin-top: 3rem

	&__column
		width: 50%
		display: flex
		flex-direction: column
		padding: .5rem 2rem
		color: #515050
		font-size: 18px

		&--left
			align-items: flex-end

		&--right
			align-items: flex-start