include ../-single-tour-plan-item/-single-tour-plan-item

mixin -single-tour-plan()
	+b.-single-tour-plan
		h2.-single-tour-plan__title
			|План путешествия

		-
			var plan = [
				{
					date: '7, 10 или 14 мая, четверг', dateSubtitle: '(10 мая - воскресенье)',
					actions: 'Прилетаем в аэропорт Кайсери', actionsSubtitle: '(из Киева и Москвы - в 10:25-10:35).',
					description: [
						'Заселяемся в наш шикарный бутик-отель с красивой террасой. Для нашего путешествия мы выбрали новейший и лучший отель в сердце Гёреме, с сауной и закрытым бассейном, расположенном в пещере. Отправляемся на обед-знакомство в уютный ресторанчик традиционной кухни, узнаем друг друга поближе за бокалом каппадокийского вина.',
						'После устроим прогулку по центру Гёреме, неспешно прогуляемся, прочувствуем неторопливую атмосферу городка, насладимся гранатовым фрешем "to go". Не забываем, что нужно отдохнуть после перелета - в нашем распоряжении сауна и бассейн с подогревом в скале в нашем отеле.',
						'После заката отправляемся на ужин, где делимся впечатлениями о первом дне, любуемся панорамным видом на Гёреме и смотрим на специальную подачу традиционного турецкого блюда - кебаба. Ложимся пораньше, завтра нас ждёт главная цель поездки!',
					],
				},
				{
					date: '8, 11 или 15 мая, пятница', dateSubtitle: '(11 мая - понедельник)',
					actions: 'Полет на воздушном шаре, посещение', actionsSubtitle: 'музеев и подземного города',
					description: [
						'Полет на воздушном шаре! Ради этого стоит встать в 4 утра:) Перед полётом нас угостят чаем/кофе с печеньем. Сначала мы увидим, как мощный поток пламени надувает огромный шар - уже с этого зрелища начинается безумный восторг. Садимся в корзину и взлетаем в небо с сотнями других шаров одновременно. Каппадокия очень красива с высоты, а шары рядом создают особую сказку. Это незабываемое ощущение, которые вы однозначно запомните на всю оставшуюся жизнь.',
						'​После полёта мы выпьем бокал шампанского, получим памятный сертификат о полете и поедем на завтрак в наш отель.Мы летим в высокий сезон, вероятность отмены полёта из-за погодных условий очень низкая. Но если полет будет отменен, у нас с вами будут ещё два дополнительных рассвета для полёта.',
						'Затем отправимся на экскурсию в самые красивые места Каппадокии - Музей под открытым небом, Долину монахов, Долину голубей. Спустимся в подземный город, посмотрим как там жили несколько веков назад и узнаем о бытовых особенностях жизни в подземных городах. Мы выбрали нераскрученный и атмосферный подземный город, чтобы не толкаться рядом с другими туристами. В завершение экскурсии заедем в винный магазинчик на дегустацию местных сортов.',
					],
				},
				{
					date: '9, 12 или 16 мая, суббота', dateSubtitle: '(12 мая - вторник)',
					actions: 'фотосессия на крыше и необычном', actionsSubtitle: 'ковровом магазине и море шопинга',
					description: [
						'Сегодня нас ждёт фотосессия на крыше нашего отеля, мы подобрали несколько платьев в пол, чтобы вы не беспокоились о нарядах. Шары пролетят прямо над террасой отеля и это зрелище не менее потрясающее, чем с высоты!',
						'​После завтрака отправимся в знаменитый магазин ковров, который разрывает Инстаграм! В смутное время, когда продажи ковров шли "не очень", предприимчивый владелец лавки превратил ее в фотозону и теперь, чтобы попасть сюда, нужно заранее бронировать время, каждый день расписан по минутам. Обычно здесь не протолкнуться, поэтому мы специально бронируем место для нашей группы, чтобы вы смогли сделать желанные снимки. В нашем распоряжении все помещение без посторонних.',
						'Затем совершим шоппинг в турецких лавках: свежайший рахат лукум, пахлава, килограммы фисташек, стопки ковров, подсвечники ручной работы - каждый найдет здесь что-то для себя.  Во второй половине дня отправимся на прогулку по Красной и Розовой долинам на квадроциклах.',
					],
				},
				{
					date: '10, 13 или 17 мая, воскресенье', dateSubtitle: '(13 мая - среда)',
					actions: 'фотосессия на крыше и необычном', actionsSubtitle: 'ковровом магазине и море шопинга',
					description: [
						'Сегодня утром нас ждёт прогулка на лошадях. По пути мы ещё раз полюбуемся шарами возле Долины любви. А потом у нас будет немного свободного времени на повторный шоппинг, чашечку турецкого кофе или вкуснейшую пахлаву с фисташками.',
						'По дороге в аэропорт мы заедем в один из лучших ресторанов Каппадокии с панорамным видом, и после обеда отправимся домой с сотней фотографий на фоне воздушных шаров и долин и решим, где встретимся в следующий раз - на Бали, в Токио или на Мачу-Пикчу. Вылет в Киев в 18:10, в Москву - в 20:00.',
					],
				},
			]

		each planItem, index in plan
			+-single-tour-plan-item(planItem, index)
