.tour-logo
	display: block
	position: relative

	&__wrapper
		position: absolute
		top: -1.5rem
		left: 1.5rem
		display: flex
		z-index: 10

	&__title
		text-transform: uppercase
		width: 220px
		margin-top: 10px
		text-align: left
		font-size: 19px
		font-family: 'GT Eesti Pro Display', 'monospace'
		font-weight: 900
		color: #282828

	&__image
		height: 15rem
		width: 16rem
		border-radius: 1rem
		clip-path: polygon(0 0, 16rem 2rem, 16rem 15rem, 0 15rem)