mixin contacts-socials()
	+b.contacts-socials
		each value, index in ['1', '2', '3', '4']
			.social
				a(href="/")
					img(src='assets/images/social-'+(index+1)+'.png')
					.social--inner-hover
		block

