.-tours-description
	display: flex
	flex-direction: column
	width: 460px
	padding-top: 10px
	color: #515050

	&__main
		font-size: 16px
		font-family: 'GT Eesti Pro Display', 'monospace'
		font-weight: 300
		width: 380px
		
	&__weather
		margin-top: 2.5rem
		font-size: 16px
		font-family: 'GT Eesti Pro Display', 'monospace'
		font-weight: 200

		strong
			font-weight: 700

	&__places
		margin-top: 1.3rem
		font-size: 16px
		font-family: 'GT Eesti Pro Display', 'monospace'
		font-weight: 700

	.-tours-visa
		p
			font-size: 16px



@media screen and (max-width: 1200px)
	.-tours-description
		width: 80%
		margin-top: -6rem

		&__main
			width: 320px


@media screen and (max-width: 968px)
	.-tours-description
		width: 90%

		&__main
			width: 240px
			font-size: 15px

@media screen and (max-width: 800px)
	.-tours-description

		&__main
			width: 300px
		
@media screen and (max-width: 676px)
	.-tours-description
		margin-top: 0
		
@media screen and (max-width: 500px)
	.-tours-description
		align-items: center
		text-align: center
		