.-tours-header
	display: block
	background-image: url('../images/-tours-header-bg.png')
	background-repeat: no-repeat
	background-position: center
	height: 500px

	.schedule-heading
		margin-top: 4rem
		width: 75%
		margin-left: 8.333333%

		&__title
			margin-top: 0

		&__proposition
			width: 90%