mixin -single-tour-price()
	+b.-single-tour-price
		.-single-tour-price__main
			p.-single-tour-price__person
				strong Стоимость тура за 1 человека:

			
			.-single-tour-price__cost
				p <strong>850 евро</strong> + авиаперелет
				p до Кайсери
				p <strong>835 евро</strong> - до 20 марта

			.-single-tour-price__discount
				|<strong>Скидка 10 евро</strong>
				|если бронируете путешествие
				|вдвоём или втроём

		.-single-tour-price__additional
			.-single-tour-price__payment
				|Дополнительно оплачиваются: 

			ul
				li - авиаперелет (из Киева ~210 евро, из Москвы ~380 евро, из других городов поможем найти выгодные авиабилеты)
				li - обеды и ужины (~15-30 евро за день)
				li - страховка (~5-10 евро)
				li - личные расходы, шоппинг, сувениры

			.-single-tour-price__how-to
				h3 Как оплатить тур?
				p
					|После бронирования места в путешествии необходимо 
					|внести предоплату в размере 350 евро. Оставшаяся часть
					|оплачивается за 30 дней до поездки. <strong>Предоплата является
					|невозвратной.</strong> Мы бронируем отели и достопримечательности
					|на нашу группу заранее, поэтому если у вас не получится поехать,
					|мы сможем вернуть предоплату только если найдём на ваше
					|место другого туриста.