.header
	display: block
	background-image: url('../images/header-bg.png')
	background-repeat: no-repeat
	background-position: center
	height: 707px

	.hash-tag
		margin-top: 3rem

	&__main
		display: flex
		height: 600px

	&__text
		width: 58.333333%
		display: flex
		flex-direction: column
		align-items: center

	&__author-tours
		color: #b3b2b2
		width: 320px
		font-size: 1rem
		font-family: 'GT Eesti Pro Display', 'monospace'
		font-weight: 400

		strong
			font-weight: bold
			font-family: 'GT Eesti Pro Display', 'monospace'
			font-weight: 700


	&__travel-format-text
		margin-top: 7rem
		color: #4f4f4f
		width: 420px
		font-size: 2.2rem
		font-family: 'GT Eesti Pro Display', 'monospace'
		font-weight: 700

	&__proposition-text
		margin-top: 4rem
		color: #515050
		width: 440px
		font-size: 1.2rem
		font-family: 'GT Eesti Pro Display', 'monospace'
		font-weight: 300

		a
			color: #515050
			font-weight: bold
			font-family: 'GT Eesti Pro Display'
			font-weight: 700


	&__news
		color: #717171
		width: 170px
		font-size: .9rem
		margin: .3rem 1rem
		font-family: 'Muller', 'serif'
		font-weight: 500

		a
			font-family: 'Muller', 'serif'
			font-weight: 900
			color: #717171

		&-wrapper
			margin-top: 2rem
			display: flex
			
	&__traveling
		display: flex
		flex-direction: column
		justify-content: flex-end
		margin-left: 8rem
		height: 600px

		.traveling-text
			margin-left: 40px
	
	.contacts__phone
		i
			box-shadow: -5px 5px 12px #ffbb29

	.button
		button
			padding: 0 2.5rem

@media screen and ( max-width: 1200px )
	.header
		&__traveling
			display: none

@media screen and ( max-width: 1068px )
	.header
		&__text
			margin-left: 1rem

		.contacts__phone
			i
				box-shadow: -5px 5px 12px #bebebe
	

@media screen and ( max-width: 768px )
	.header
		background-position: initial
		
		&__main
			flex-direction: column
			align-items: center

		&__travel-format-text
			margin-top: 3rem

		.contacts__number
			p
				color: #d4d4d4

		.button
			button
				padding: 0 1.5rem
				font-size: .9rem

@media screen and ( max-width: 676px )
	.header
		&__text
			width: initial

		&__author-tours
			margin-top: 2rem
	
		&__news
			margin-top: 1rem

@media screen and ( max-width: 500px )
	.header

		height: 900px

		&__author-tours, &__travel-format-text, &__proposition-text
			width: 240px

		&__travel-format-text
			font-size: 1.8rem
			margin-top: 2rem

		&__proposition-text
			margin-top: 1.5rem

		&__news-wrapper
			flex-direction: column

@media screen and ( max-width: 400px )
	.header

		&__author-tours
			margin-top: 4rem
	