.-tours-info
	display: flex
	flex-direction: column
	width: 270px
	height: 300px
	border: 2px solid transparent
	border-image: linear-gradient(#f8ebd2 30%, transparent 90%)
	border-image-slice: 1
	text-align: center
	color: #515050

	&__dates
		margin-top: 2.5rem
		font-size: 20px
		font-family: 'GT Eesti Pro Display'
		font-weight: 300

	&__date
		margin-bottom: .8rem
		color: #515050
		font-size: 23px

	&__price
		margin-top: 1.5rem
		font-size: 16px
		font-family: 'GT Eesti Pro Display'
		font-weight: 700

	.button
		margin-top: 2rem

		button
			padding: 0 2rem
			min-width: 240px
			font-size: 15px
			font-family: 'GT Eesti Pro Display'
			font-weight: 700

	&__discount-price
		font-size: 16px
		font-family: 'GT Eesti Pro Display'
		font-weight: 700