mixin schedule-heading()
	+b.schedule-heading
		h3.schedule-heading__title Расписание авторских туров

		p.schedule-heading__proposition 
			|Вы можете путешествовать вместе с нами онлайн - в сториз и постах нашего 
			|<a href='/'>блога в Инстаграм</a>, 
			|а можете отправиться в незабываемое приключение вместе с нами.
