include ../contacts/contacts
include ../search-bar/search-bar

mixin footer(short)

	+b.footer(class=short?'short':'')

		.footer__container
			.footer__text
				span.traveling-text travelling
				p.travel-format-text Открой для себя новый <br />формат путешествий

			.footer__contact-info
				+contacts()
				+search-bar('Контакты Nepaketniki')

			block

