.footer
	height: 700px
	margin-top: -25rem
	padding-bottom: 10rem

	background-image: url('../images/footer-bg.png')
	background-repeat: no-repeat
	background-position: center

	&__container
		width: 100%
		height: 100%
		max-width: 1170px
		margin: 0 auto
		display: flex
		justify-content: flex-end
		align-items: flex-end

	&__text
		width: 450px
		display: flex
		flex-direction: column

	.traveling-text
		text-align: right

	.travel-format-text
		font-size: 36px
		font-family: 'GT Eesti Pro Display', sans-serif
		font-weight: 700
		margin-left: 1rem

	&__contact-info
		margin-right: -3rem
		margin-left: 2rem

	.contacts
		&-socials
			margin-left: 0

		&__phone
			i
				box-shadow: -5px 5px 10px #bebebe

		&__number
			p
				color: #d4d4d4
	

@media screen and ( max-width: 1000px )
	.footer
		margin-top: -20rem
		padding: 8rem 3rem

		&__container
			flex-direction: column
			align-items: center

		.travel-format-text
			margin-left: 0

		.search-bar
			display: none

@media screen and ( max-width: 768px )
	.footer
		padding: 6rem 3rem

		&__text
			margin: initial

		.travel-format-text
			text-align: center
			margin-left: 0
			margin-top: 0

		.search-bar
			margin-top: 2rem

		.contacts__phone
			justify-content: center
	
@media screen and ( max-width: 676px )
	.footer

		margin-top: -20rem

		.traveling-text
			display: none

		.travel-format-text
			font-size: 2rem

		&__contact-info
			margin-left: 0
			margin-right: 0

		.contacts__phone
			i
				box-shadow: -5px 5px 12px #ffbb29

@media screen and ( max-width: 420px )
	.footer
		padding: 7rem 1rem

		margin-top: -18rem

		.travel-format-text
			font-size: 1.8rem
		