include ../comments-comment/comments-comment

mixin comments(withoutHeading)
	+b.comments#comments
	
		if !withoutHeading
			h2.comments__title Сомневаешься стоит ли путешествовать с нами? <br/> Тогда читай, что пишут о нас

		.comments__pagination
			button.comments__button#commentsPrevPage
			span.comments__current-page <span id='commentsCurrentPage'></span> из <span id='commentsPages'></span>
			button.comments__button.comments__button--active#commentsNextPage

		.comments__list#commentsList
		

		block

