.comments
	display: block
	padding-top: 3rem

	&__title
		text-align: center
		color: #4f4f4f
		font-size: 36px
		font-family: 'GT Eesti Pro Display', 'sans-serif'
		font-weight: 700

	&__pagination
		margin-top: 5rem
		display: flex
		justify-content: center
		align-items: center

	&__button
		height: 31px
		width: 31px
		background-image: url('../images/comments-button-arrow.png')
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		border: none
		outline: none
		border-radius: 50%

		&:hover,&--active
			background-image: url('../images/comments-button-arrow-active.png')

		&--active
			transform: scale(-1, 1)

	&__current-page
		padding: 1rem 2rem
		color: #515050
		font-size: .9rem
		font-family: 'Muller', 'serif'
		font-weight: 500

	&__list
		display: flex
		justify-content: center

@media screen and ( max-width: 1200px)
	.comments

		&__list
			flex-direction: column
			align-items: center


@media screen and ( max-width: 1000px )
	.comments
		&__title
			width: 90%
			margin-left: auto
			margin-right: auto

@media screen and ( max-width: 500px )
	.comments
		&__title
			font-size: 25px
			width: 95%
			margin: 1rem auto

		&__pagination
			margin-top: 2rem