mixin -tours-visa(text, subText)
	+b.-tours-visa
		img(src="assets/images/visa.png", alt="" class="-tours-visa__image")

		.-tours-visa__text
			p
				|Виза #{text}
			if subText
				p
					|#{subText}
