.-tours-visa
	display: flex
	justify-content: start
	align-items: center
	margin-top: 1.7rem

	&__image
		height: 4.2rem

	&__text
		margin-left: 1rem
		color: #515050
		font-size: 19px
		font-family: 'GT Eesti Pro Display', 'monospace'
		font-weight: 700
