include ../contacts-socials/contacts-socials

mixin contacts()
	+b.contacts
	
		+contacts-socials()

		.contacts__phone
			i.fa.fa-phone
			.contacts__number
				a(href='/')
					strong +38 099 490 24 54
					p связь в Telegram/WhatsApp/Viber

		block

