mixin header-nav()
	+b.header-nav
		-
			var links = {
				'Главная': '/',
				'О нас': 'about.html',
				'Расписание туров': 'tours.html',
				'Отзывы': 'reviews.html',
				'Для бизнеса': 'business.html',
			}

		each value, index in links
			a(href=value) #{index}

		block


	